body {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
}

.desc {
  margin-bottom: 2em;
}

table,
tr,
td,
th {
  border: 1px solid skyblue;
  margin: 5px 10px;
  padding: 5px 10px;
  box-sizing: border-box;
}
section {
  color: #555;
}
